<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Chat</title>
		<link rel="stylesheet" href="/stylesheet/styles.css">
	</head>
	<body>
		<div class="notification" id="notification"></div>

		<div style="display:none" class="container" id="usernameContainer">
			<h1>Choose a Username</h1>
			<p>Please choose a username to get started.</p>
			<div class="input-container">
				<input type="text" id="usernameInput" placeholder="Enter your username">
				<button id="usernameButton">Submit</button>
			</div>
		</div>

		<div class="chat-container" id="chatContainer">
			<div class="chat-window" id="chatWindow">
				{% for message in messages %}
  				<div>{{message.username}}: {{message.content}}</div>
				{% endfor %}
				<div id="typing" style="color: cornflowerblue;font-style: italic;display:none"></div>
			</div>
			<div class="input-container">
				<input type="text" id="messageInput" placeholder="Type your message...">
				<button id="sendMessage">Send</button>
			</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascript/script.js"></script>
	</body>
</html>
